*, *::before, *::after{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --link-bg-hover: rgba(142, 179, 247, 0.541);
    --link-color: rgb(142, 178, 247);
    --main-bg: rgba(128, 128, 128, 0.2);
}
input:focus, textarea:focus{
    outline: 0;
}
.container{
    font-size: 14px;
    max-width: 1200px;
    margin: 0 auto;
}
hr{
    border: 5px solid #fff;
}
.main__container{
    border-radius: 10px 10px 0 0;
    background: var(--main-bg);
    min-height: calc(95vh - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.categories{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.category{
    text-decoration: none;
    color: var(--link-color);
    transition: 0.4s;
    padding: 5px 2px;
    background: #fff;
    border-radius: 5px;
    width: 180px;
    text-align: center;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.4);
}
dialog{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.events_none{
    pointer-events: none;
}
.unselect{
    user-select: none;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    width: 500px;
    text-align: center;
}
.form input, .form button{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--link-color);
}
.form button{
    border-color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.form button:hover{
    border-color: var(--link-color);
    transition: 0.5s;
}

.simple-link{
    display: inline-block;
    color: var(--link-color);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
.category:hover, .active_cat, .simple-link:hover{
    background: var(--link-bg-hover);
    color: #fff;
    transition: 0.4s;
}
